.footer {
  background-color: var(--container-color);
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.footer__copy {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}