.home__container {
  row-gap: 2rem;
  padding-top: 6rem;
}

.home__img {
  width: 220px;
  justify-self: center;
  mask-image: linear-gradient(to bottom, hsla(var(--hue), 40%, 16%) 60%, transparent 100%);
  margin-right: 10rem;
}

.home__name {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.home__profession {
  position: relative;
  font-size: var(--big-font-size);
  color: var(--text-color);
}

.home__profession::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 25%;
  height: 3px;
  background-color: var(--text-color);
}

.home__scroll {
  color: var(--title-color);
  display: inline-flex;
  column-gap: .5rem;
  align-items: center;
  justify-self: center;
  margin-top: 3rem;
  margin-left: 40rem;
}

.home__scroll-box {
  background-color: var(--first-color);
  width: 62px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  overflow: hidden;
}

.home__scroll-text {
  font-weight: var(--font-semi-bold);
}

.home__scroll-box i {
  animation: scroll-down 3s infinite;
}

.home__data {
  margin-top: -47rem;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(.6rem);
    opacity: 0;
  }
}

@media screen and (min-width: 1150px) {
  .home__container {
    grid-template-columns: 200px 1fr 400px;
    align-items: center;
  }

  .home__scroll {
    grid-column: 1;
    justify-self: flex-start;
  }

  .home__data {
    grid-column: 2;
  }

  .home__img {
    grid-column: 3;
    width: 400px;
    justify-self: end;
  }
}

@media screen and (max-width: 1150px) {
  .home__data {
    margin-top: 0 !important;
  }

  .home__scroll {
    margin-left: 0 !important;
    justify-self: center;
  }

  .home__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .home__img {
    margin-right: 0;
  }
}