.info {
  margin-top: 6rem;
}

.info__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  max-width: 900px;
  margin: 0 auto;
}

.info__img {
  width: 500px;
  justify-self: center;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.info__subtitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative;
}

.info__subtitle::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: -6px;
}

.info__description {
  margin: 1.5rem 0;
  color: var(--text-color-light);
  line-height: 1.6;
  font-size: 1rem;
}

.info__button {
  display: inline-block;
  background-color: var(--first-color);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
}

.info__button:hover {
  background-color: var(--first-color-alt);
}

@media screen and (max-width: 768px) {
  .info__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .info__subtitle::after {
    left: 50%;
    transform: translateX(-50%);
  }
}